img.action {
	cursor:pointer;
	width:16px;
	height:16px;
}

tr.class-item {
	padding-top:10px;
}

td.item-detail {
	width:20%;
}

td.item-spacer {
	width:70%;
}

td.item-action {
	width:5%;
}

td#uri-field {
	width:40%;
}

td#uri-field input[type='text'], td#editable-item-detail input[type='text'] {
	width:100% !important;
}

td#uri-checkbox {
	width:20%;
}